body {
    background-color: rgb(67, 67, 67);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.content {    
    background-color: white;
    margin: 0px;
    padding: 35px;
    width:750px;
    border: 2px;
    border-style: solid;    
}

header {
    text-align: end;
}

table {
    width:100%;
    padding: 5px;    
}

th {
    text-align: left;
    padding: 8px; 
    font-size: 16px;   
}

td {
    text-align: center;
}

.column-header {
    text-align: center;
}

.answers {
    display: flex;
    flex-direction: column;
        
}

input {
    width: 25px;
    height: 25px;
    margin-right: 10px;  
    min-width: 25px;  
        
}

.form-input {
    display: flex;       
         
}

label {
    align-self: center;
}


.text-in {
    background-color:aliceblue;
    width: 80%;
    border-style: none;
    height: 25px;
    margin: 10px;
}


#date-container {
    display: flex;
    justify-content: center;    
}

#date {
    border-style: none;
    background-color: aliceblue;    
}

#date-label {
    font-weight: bold;
    font-size: 20px;
    align-self: center;
}

em {
    font-style: normal;
    color: red;
    font-weight: bold;
}

.section-description {
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color: rgb(232, 232, 232);
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
}

#signature-container {
    display: flex;
    justify-content:space-between;
    align-items: center;    
}

.submit-button{
    width: 100px;
}

#expires-when {
    background-color: aliceblue;
    width: auto;
    border-style: none;
}

textarea {
    resize: none;
    background-color: aliceblue;
}

